{% extends '::base.html.twig' %}

{% block title %}
Edition d'un Spectacle
{% endblock %}

{% block page_title %}
Edition d'un Spectacle
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="well bs-component col-sm-6">
            {% form_theme edit_form 'DevPCultBundle:Form:bootstrap-form.html.twig' %}
            {{ form(edit_form) }}
        </div>
    </div>  

        <ul class="record_actions">
    <li>
        <a href="{{ path('spectacle') }}">
            Retourner à la liste
        </a>
    </li>
    <li>{% form_theme delete_form 'DevPCultBundle:Form:bootstrap-form.html.twig' %}
        {{ form(delete_form) }}
    </li>
</ul>
{% endblock %}
